<main class="container py-3">
  <!-- <h1>Products</h1> -->
  <article class="row">
    <section class="filtro col-2">
      <h3>SEARCH FILTERS</h3>
      <input type="checkbox" name="Filtro tal" id="filtro1">
      <label for="filtro1">filter 1</label>
      <br>
      <input type="checkbox" name="Filtro tal" id="filtro2">
      <label for="filtro2">filter 2</label>
      <br>
      <input type="checkbox" name="Filtro tal" id="filtro3">
      <label for="filtro3">filter 3</label>
      <br>
      <input type="checkbox" name="Filtro tal" id="filtro4">
      <label for="filtro4">filter 4</label>
    </section>
    <!-- <section class="col-9 px-2"> -->
    <section class="col-10">
      <div *ngFor="let product of products" class="card product-card">
        <div [id]="'slider-' + product.sku" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let image of product.images; let i = index"
              [class]="'carousel-item' + (i === 0 ? ' active' : '')">
              <img [src]="image" class="d-block w-100">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#slider-' + product.sku"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#slider-' + product.sku"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body">
          <span>${{product.price}}</span> <br>
          <span style="font-weight: bold;">{{product.name}}</span>
          <p class="card-text">
            {{product.description}}
          </p>
          <span>...</span>
          <button (click)="AddToCart(product.sku)" class="btn float-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
          </svg></button>
        </div>
      </div>
    </section>
  </article>
</main>

<div class="toast align-items-center text-white border-0" role="alert" aria-live="assertive"
  aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="2000">
  <div class="d-flex">
    <div class="toast-body">
      Product has been added to your cart!
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
      aria-label="Close"></button>
  </div>
</div>