<footer>
    <div class="container-fluid">
      <section class="row">
        <article class="col text-center">
          <div class="d-inline-block text-center">
            <br>
            <h5>Collaborators:</h5>
            <h6>° Softtek</h6>
            <h6>° CSOFTMTY</h6>
            <h6>° San Pedro Garza García</h6>
            <a href="https://www.instagram.com/"><i class="bi bi-instagram uno"></i></a>
            <a href="https://fb.com/"><i class="bi bi-facebook"></i></a>
            <a href="https://twitter.com/"><i class="bi bi-twitter"></i></a>
            <a href="http://youtube.com/"><i class="bi bi-youtube"></i></a>
          </div>
        </article>
        <article class="col text-left">
          <hr>
            <h5>Date:</h5>
            <h6>February - June 2021</h6>
            <hr>
            <h5>Modality:</h5>
            <h6>Online, through teams platform</h6>
            <hr>
        </article>
        <article class="col">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1511.9063431012664!2d-100.39197074014218!3d25.67329815902956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x33d068574599460b!2sSofttek!5e0!3m2!1ses-419!2smx!4v1621005652862!5m2!1ses-419!2smx"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </article>
      </section>
    </div>
  </footer>