footer {
    padding: .5rem;
    background-color: var(--color-footer);
    color: rgb(109, 108, 108);
}

.text-left{
    text-align: left;
}

i{
    margin-left: 2rem;
    font-size: 2rem;
    color: rgb(109, 108, 108);
}
