<header class="w-100">
  <a href="/" class="d-flex align-items-center float-left">
    <div class="logo"></div>
    <span>Desarrolla.Store</span>
  </a>
  <div class="d-flex align-items-center float-right h-100">
    <a href="/">Inicio</a>
    <span>|</span>
    <a href="/catalog">Catálogo</a>
    <span>|</span>
    <a [href]="accountRedirect === 'Login' ? '/login' : '/account'">{{ accountRedirect }}</a>

    <a href="/cart">
      <i class="bi bi-cart3"></i>
      ({{numberProducts}})
    </a>
  </div>
</header>

<!-- <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/slkvcfos.json"
    trigger="loop-on-hover"
    colors="primary:#ffffff,secondary:#ffffff"
    style="width:250px;height:250px">
</lord-icon> -->