header {
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    box-shadow: 0rem 0.2rem 1rem 0.1rem #393e46;
    height: 3rem;
    padding: 0.3rem;
    color: #EEEEEE;
    font-size: 1.4rem;
    
    position: sticky;
    left: 0;
    top: 0;

    z-index: 1060;
}

a, a:link {
    color: #EEEEEE;
    text-decoration: none;

    transition: 0.3s color;
}

a:hover {
    color: #ffffff;
    /* text-decoration: underline; */
    font-weight: bold;
    transition: 0.3s color;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

a:last-child{
    margin-right: 1rem;
}

.logo {
    margin-left: 1rem;
    height: 2.4rem;
    width: 2.4rem;
    background-color: dimgray;
    float: left;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

i {
    margin-left: 2rem;
}

span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}