<div class="container py-5 text-center">
    <hr>
    <i class="bi bi-check-circle"></i>
    <h5>Confirmed</h5>
    <div class="cuadro">
    <h2>Your order will be processed as soon as possible. You will receive an email with the information of your purchase.</h2>
    </div>
    <h2>Your order number is: {{numeroPedido}}</h2>
    <hr>
</div>

<section class="text-center pt-2 container">
    <h4>If you have any questions or concerns, please contact us at <a class="link" href="mailto:correo@algo.com">desarrolla.store</a> </h4>
    <h5>Your order will be shipped in approximately 3 to 7 business days.</h5>
    <a href="/catalog" class="btn continue-button mt-3">CONTINUE SHOPPING</a>
</section>