@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  /* user-select: none; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  height: 100%;
}
body{
  display: grid;
  place-items: center;
  background: linear-gradient(120deg,#2980b9,#8e44ad);
  text-align: center;
}
.content{
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    margin: 2.5rem auto 2.5rem auto;
  width: 80%;
  padding: auto;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
}
.content .text{
  font-size: 33px;
  font-weight: 600;
  /* margin-bottom: 35px; */
  color: #595959;
}

.text{
  padding-top: 1rem;
}
.field{
  height: 50px;
  width: 100%;
  display: flex;
  margin: 1rem 0.5rem 1rem 0.5rem;
  /* position: relative; */
}
/* .field:nth-child(2){
  margin-top: 20px;
} */
.field input{
  height: 100%;
  width: 90%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}
.field input:focus{
  box-shadow: inset 1px 1px 2px #BABECC,
              inset -1px -1px 2px #ffffff73;
}
.field span{
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 50px;
}
.field label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  pointer-events: none;
  color: #666666;
}
.field input:valid ~ label{
  opacity: 0;
}

button{
  margin-top: 3px;
  width: 80%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: #dde1e7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}
button:focus{
  color: #3498db;
  box-shadow: inset 2px 2px 5px #BABECC,
             inset -5px -5px 10px #ffffff73;
}


.register-error{
  margin-top: 2rem;
    font-weight: bold;
    color: pink;
}


