<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="content">
         <div class="text">
            Welcome!
         </div>
         <form>
            <div class="field">
               <input type="text" (input)='UpdateValue($event,"nickname")' placeholder='Nickname'>
               <span class="fas fa-user"></span>
            </div>
            <div class="field">
               <input type="text" (input)='UpdateValue($event,"name")' placeholder='Name'>
               <span class="fas fa-user"></span>
            </div>
            <div class="field">
               <input type="text" (input)='UpdateValue($event,"lastname")' placeholder='LastName'>
               <span class="fas fa-user"></span>
            </div>
            
            <div class="field">
               <input type="text" (input)='UpdateValue($event,"email")' placeholder='Email'>
               <span class="fas fa-user"></span>
            </div>
            <div class="field">
               <input type="password" (input)='UpdateValue($event,"password")' placeholder='Password'>
               <span class="fas fa-lock"></span>
            </div>
            <div class="field">
               <input type="number" (input)='UpdateValue($event,"phone")'  placeholder='Phone'>
               <span class="fas fa-user"></span>
            </div>
            <div>Adress:</div>
            <div class="field">
               <input type="text" (input)='UpdateValue($event,"street")' placeholder='Street'>
               <span class="fas fa-user"></span>
            </div>
            <div class="field">
               <input type="text" (input)='UpdateValue($event,"suburb")' placeholder='Suburb'>
               <span class="fas fa-user"></span>
            </div>
            <div class="field">
               <input type="text" (input)='UpdateValue($event,"city")' placeholder='City'>
               <span class="fas fa-user"></span>
            </div>
            <div class="field">
               <input type="text" (input)='UpdateValue($event,"state")' placeholder='State'>
               <span class="fas fa-user"></span>
            </div>
            <div class="field">
               <input type="text" (input)='UpdateValue($event,"zip")' placeholder='Zip'>
               <span class="fas fa-user"></span>
            </div>
            <!-- </div> -->
            <button (click)=Register();>Register</button>
            <div class="login-error" [hidden]="!invalidLogin">Something is wrong :( ({{registerFailureReason}})</div>
         </form>
      </div>
   </body>
</html>