/* You can add global styles to this file, and also import other style files */
:root {
    --color-white: #EEEEEE;
    --color-footer: #dde1e7;
    --color-blue: #2980b9;
    --color-purple: #8e44ad;
    --color-gray: #393E46;
    --color-black: #222831;
    --error-color: #c05a5a;

    --required-status: var(--color-purple);
}

body {
    background: var(--color-white);
    color: var(--color-black);
    font-family: 'Dosis', sans-serif;
}

.float-right {
    float: right;
}