<section class="container py-5">
  <h2><i class="bi bi-info-circle-fill"></i>User information</h2>
  <hr>
  <ul class="list-group">
    <li class="list-group-item"><i class="bi bi-person-fill"></i>ID:  {{userData.nickname}}</li>
    <li class="list-group-item"><i class="bi bi-person-fill"></i>Name:  {{userData.name}}</li>
    <li class="list-group-item"><i class="bi bi-person-fill"></i>Lastname:  {{userData.lastName}}</li>
    <li class="list-group-item"><i class="bi bi-envelope-fill"></i>Email: {{userData.email}}</li>
    <li class="list-group-item"><i class="bi bi-telephone-fill"></i>Phone:  {{userData.phone}}</li>
  </ul>

  <h2 class="mt-5"><i class="bi bi-geo-alt-fill"></i>Shipping information</h2>
  <hr>
  <ul class="list-group">
    <li class="list-group-item"><i class="bi bi-geo-fill"></i>Street: {{userData.address.street}}</li>
    <li class="list-group-item"><i class="bi bi-geo-fill"></i>Suburb: {{userData.address.suburb}}</li>
    <li class="list-group-item"><i class="bi bi-geo-fill"></i>City: {{userData.address.city}}</li>
    <li class="list-group-item"><i class="bi bi-geo-fill"></i>State: {{userData.address.state}}</li>
    <li class="list-group-item"><i class="bi bi-geo-fill"></i>Zip code: {{userData.address.zip}}</li>
  </ul>

</section>